{% extends 'admin/layout.html.twig' %}

{% block title %}Управление объектами - Проект Трущобы{% endblock %}

{% block heading %}Управление объектами{% endblock %}

{% block body %}
    <table class="head">
        <tr>
            <td><b>Объект</b></td>
            <td><b>Опции</b></td>
        </tr>
        {% for spot in spots %}
            <tr class="item">
                <td>{{ spot.title }} ()</td>
                <td>
                    <a href="{{ path('admin_edit_spot', {id: spot.id}) }}">
                        <img src="{{ asset('images/icons/edit.png') }}" />
                    </a>
                    <a href="{{ path('admin_spot_photos', {id: spot.id}) }}">
                        <img src="{{ asset('images/icons/image.png') }}" />
                    </a>
                    {% if spot.comments.count > 0 %}
                        <a href="{{ path('admin_spot_comments', {id: spot.id}) }}">
                            <img src="{{ asset('images/icons/comment.png') }}" />
                            <span style="color:#455e70;position:absolute;margin-left:-20px;padding-top:6px;">{{ spot.comments.count }}</span>
                        </a>
                    {% endif %}
                    <a href="{{ path('admin_destroy_spot', {id: spot.id}) }}" onclick="return confirm('Вы уверенны, что хотите удалить объект под названием {{ spot.title }}?');">
                        <img src="{{ asset('images/icons/delete.png') }}" />
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}