{% extends 'layout.html.twig' %}

{% block title %} Главная {% endblock %}

{% block header %}

    {% include 'parts/slider.html.twig' %}
    {% include 'parts/right-bar.html.twig' %}

{% endblock %}

{% block body %}

    {% include 'parts/sticky-bar.html.twig' %}

    <div id="content">
        <div class="bbit" id="bodycont">
            {% for spot in latestSpots %}
                <div style="position:relative;width:700px;min-height:200px;">
                    <div class="gray" style="position:absolute;z-index:1;filter: gray;-webkit-filter:grayscale(100%);width:100%;height:200px;background-image: url('{{ asset('images/spots/' ~ spot.id ~ '.jpg') }}');background-position:center;background-size:cover;"></div>

                    <div class="x1" style="position:absolute;z-index:3;">
                        <div style="padding:15px;">
                            <a href="{{ path('show_spot', {slug: spot.slug}) }}">
                                <img src="{{ asset('images/spots/' ~ spot.id ~ '.jpg') }}" width="250" align="left" style="margin-right:10px;">
                                $objecttags<br />
                                <a href="{{ path('show_spot', {slug: spot.slug}) }}" class="hh">{{ spot.title }}</a>
                                <br />
                                <br />
                                <span class="dsc">{{ spot.description }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        $loadmore
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}