{% extends 'layout.html.twig' %}

{% block title %}{{ spot.description }} - адрес объекта,как попасть, фото, история - Проект Трущобы{% endblock %}

{% block header %}
    {% include 'parts/spot-slider.html.twig' %}
    {% include 'parts/spot-right-bar.html.twig' %}
{% endblock %}

{% block body %}
    {% embed "parts/sticky-bar.html.twig" %}
        {% block spots_bit %}
            {% for spot in randomSpots %}
                {% include 'parts/spot-preview.html.twig' %}
            {% endfor %}
        {% endblock %}
    {% endembed %}

    <div class="objcont">

        <div style="display:table;width:100%;">
            <div style="display:table-cell;vertical-align:top;">

                <ul id="response">

                </ul>
                <div data-productid="653" data-rateit-value="{{ spot.rating }}" class="rateit"></div>

            </div>
            <div style="display:table-cell;float:right;">
                {% for category in spot.categories %}
                    <a href="{{ path('category', {slug: category.slug}) }}">{{ category.title }}</a>
                    {{ not loop.last ? ',' }}
                {% endfor %}
            </div>
        </div>

        <div itemprop="location" itemscope itemtype="http://schema.org/Place" style="display:none;">
            <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <span itemprop="ratingValue">{{ spot.rating }}</span>
                <span itemprop="bestRating">5.00</span>
                <span itemprop="reviewCount">{{ spot.votes.count() }}</span>
            </div>
        </div>
        {{ spot.content }}
        <br />
        $comms
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" charset="utf-8">
        jQuery(document).ready(function($) {
            $(".waswill").checkboxradio({
                icon: false
            });

            $("#was").click(function() {
                {% if app.user %}
                    $("#was").prop( "checked", true );
                    $("#will").prop( "checked", false );
                    $.ajax({
                        url: '{{ path('was', {id: spot.id}) }}',
                        method: 'POST',
                    })
                {% else %}
                    window.location.href = '{{ path('app_login') }}';
                {% endif %}
            });

            $("#will").click(function() {
                {% if app.user %}
                    $("#was").prop( "checked", false );
                    $("#will").prop( "checked", true);
                    $.ajax({
                        url: '{{ path('will', {id: spot.id}) }}',
                        method: 'POST',
                    })
                {% else %}
                    window.location.href = '{{ path('app_login') }}';
                {% endif %}
            });
        });
    </script>

    <script type ="text/javascript">
        jQuery(document).ready(function($) {
            //we bind only to the rateit controls within the products div
            $('.rateit').bind('rated reset', function (e) {
                var ri = $(this);

                //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), we could check if e.type == 'reset', and then set the value to  null .
                var value = ri.rateit('value');
                var productID = ri.data('productid'); // if the product id was in some hidden field: ri.closest('li').find('input[name="productid"]').val()

                //maybe we want to disable voting?
                ri.rateit('readonly', true);

                $('.rateit').rateit('value', 5)

                $.ajax({
                    url: '{{ path('rate', {id: spot.id}) }}', //your server side script
                    data: { id: productID, value: value }, //our data
                    type: 'POST',
                    success: function (data) {
                        $('#response').append('<li>' + data + '</li>');

                    },
                    error: function (jxhr, msg, err) {
                        $('#response').append('<li style="color:red">' + msg + '</li>');
                    }
                });
            });
        });
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <link href="//rawgit.com/gjunge/rateit.js/master/scripts/rateit.css" rel="stylesheet" type="text/css">
    <script src="//rawgit.com/gjunge/rateit.js/master/scripts/jquery.rateit.js" type="text/javascript"></script>

{% endblock %}