<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Трущобы - Админка v.1.0 -  $browsertitle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="{{ asset('js/select2/js/select2.full.js') }}"></script>
    <link href="{{ asset('js/select2/css/select2.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet" />

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>

<div style="width:90%;border: 1px solid #000000;margin:0 auto;">
    <div style="display:table;">
        <div style="display:table-cell;"><a href="{{ path('admin_spots') }}" title="Трущобы"><img src="{{ asset('images/logo.png') }}" width="250" height="82" border="0" alt="Трущобы - Админка v.1.0" /></a></div>
        <div style="display:table-cell;"></div>
    </div>

    <div style="display:table;">
        <div style="display:table-cell;width:250px;">
            <!-- Навигация -->
            <table border="0" cellpadding="2" cellspacing="1" class="head" width="250" align="center">
                <tr>
                    <td><b>Объекты:</b></td>
                </tr>
                <tr class="item_alt">
                    <td><a href="{{ path('admin_spots') }}">Управление объектами</a></td>
                </tr>
                <tr class="item_alt">
                    <td><a href="{{ path('admin_create_spot') }}">Добавить объект</a></td>
                </tr>
            </table>
            <br />
            <table border="0" cellpadding="2" cellspacing="1" class="head" width="250" align="center">
                <tr>
                    <td><b>Разделы:</b></td>
                </tr>
                <tr class="item_alt">
                    <td><a href="{{ path('admin_categories') }}">Управление разделами</a></td>
                </tr>
                <tr class="item_alt">
                    <td><a href="{{ path('admin_create_category') }}">Добавить раздел</a></td>
                </tr>
            </table>
            <br />
            <table border="0" cellpadding="2" cellspacing="1" class="head" width="250" align="center">
                <tr class="item_alt">
                    <td><a href="index.php?do=users">Пользователи: $totalusers</a></td>
                </tr>
                <tr class="item_alt">
                    <td><a href="../login.php?do=logout">Выход</a></td>
                </tr>
            </table>
            <!-- Конец навигации -->
        </div>
        <div style="display:table-cell;width:100%;">

            <table border="0" cellspacing="1" cellpadding="2" class="head" width="100%">
                <tr>
                    <td><b>{% block heading %}{% endblock %}</b></td>
                </tr>
                {% if app.session.flashBag.peek('message')|length > 0 %}
                    {% for message in app.flashes('message') %}
                        <tr>
                            <td>{{ message }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr valign="top">
                    <td class="item_alt">
                        {% block body %}{% endblock %}
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div class="bgr" style="padding:10px;text-align:center;"><b>Copyright &copy; 2018 - $copyrightyear, <a href="https://slums.ru">Трущобы</a></b></div>
</div>

</body>
</html>