{% extends 'admin/layout.html.twig' %}

{% block title %}Фото к объекту - Проект Трущобы{% endblock %}

{% block heading %}Фото к объекту {% endblock %}

{% block body %}
    <form id="imageform" method="post" enctype="multipart/form-data" action='index.php?do=doaddphoto' style="clear:both">

        <table border="0" width="100%" cellpadding="3" cellspacing="1" class="head">
            <tr>
                <td><b>Загрузить изображения:</b></td>
            </tr>
            <tr class="item">
                <td>
                    <div id='imageloadbutton'>
                        <input type="hidden" name="galid" value="$nid" />
                        <input type="hidden" name="where" value="$where" />
                        <input type="file" name="foto[]" id="photoimg" multiple="true" />
                    </div>

                    <div id='preview'></div>
                    <div id='imageloadstatus' style='display:none'><img src="$siteaddress/images/loader.svg" alt="Загрузка...." width="70" /></div>
                </td>
            </tr>
        </table>

    </form>
    <br />
    <form method="post" action="index.php?do=doeditphotos">
        <ul id="sortable">
            {% for photo in photos %}
                <li id="item-{{ photo.id }}"  class="ui-state-default" style="height:190px;">
                    <img src="{{ asset('images/photos/' ~ photo.id ~ '-preview.jpg') }}" width="180" />
                    <br />
                    <input type="text" name="description[$sch]" value="{{ photo.description }}" style="width:90%;">
                    <input type="hidden" name="fid[$sch]" value="{{ photo.id }}">
                    <br />
                    <a href="{{ path('admin_destroy_spot_photo', {id: photo.id}) }}" onclick="return confirm('Вы уверенны, что хотите удалить фото id: {{ photo.id }}?');">
                        <img src="{{ asset('images/icons/delete.png') }}" />
                    </a>
                </li>
            {% endfor %}
        </ul>
        <input type="hidden" name="galid" value="$nid">
        <input type="hidden" name="sch" value="$sch">
        <input type="submit" value="Сохранить" />
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $( function() {
            $('#sortable').sortable({
                stop: function (event, ui) {
                    var data = $(this).sortable('serialize');
                    $.ajax({
                        data: data,
                        type: 'POST',
                        url: '{{ path('admin_spot_photos_sort') }}'
                    });
                }
            });
        } );
    </script>

    <style>
        .ui-draggable, .ui-droppable {
            background-position: top;
        }

        #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 190px; height: 150px; font-size: 2em; text-align: center; }
    </style>
{% endblock %}