<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('js/lity/dist/lity.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('js/tooltipster/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('js/tooltipster/css/tooltipster.bundle.min.css') }}" />
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script src="{{ asset('js/bxslider/jquery.bxslider.min.js') }}" type="text/javascript"></script>
        <link href="{{ asset('js/bxslider/jquery.bxslider.css') }}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ asset('js/fresco/js/fresco/fresco.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('js/fresco/css/fresco/fresco.css') }}"/>
        <script type="text/javascript" src="{{ asset('js/jquery.sticky-kit.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.rating-2.0.js') }}"></script>

        <script type="text/javascript">ymaps.ready(init);function init () {var myMap;$('#openmap').bind({click: function () {if (!myMap) {myMap = new ymaps.Map('map', {center: [$mapcenter],zoom: $zoom,controls: ['zoomControl', 'fullscreenControl']}, {autoFitToViewport: 'always',balloonPanelMaxMapArea: 0}),objectManager = new ymaps.ObjectManager({clusterize: false,geoObjectOpenBalloonOnClick: true,});myMap.geoObjects.add(objectManager);$.ajax({url: "https://slums.ru/index.php?do=mapjson&c=$ocid"}).done(function(data) {objectManager.add(data);objectManager.objects.balloon.open($ppid);});$("#map").show();var geolocButton = new ymaps.control.Button({data: {title: "Определить ваше местоположение",image: "https://slums.ru/images/geoloc.png"}});geolocButton.events.add('press',function () {ymaps.geolocation.get({mapStateAutoApply: true,autoReverseGeocode: true}).then(function (result) {myMap.geoObjects.add(result.geoObjects);});});myMap.controls.add(geolocButton, {float: "left"});var myButton = new ymaps.control.Button({data: {title: "Закрыть карту",image: "https://slums.ru/images/x.png"}});myButton.events.add('press',function () {myMap.destroy();myMap = null;$( "#map" ).hide();});myMap.controls.add(myButton, {float: "left"});}else {myMap.destroy();myMap = null;$( "#map" ).hide();}}});</script>
        <script type="text/javascript" src="{{ asset('js/tooltipster/js/tooltipster.bundle.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/lity/dist/lity.min.js') }}"></script>
        <script src="https://api-maps.yandex.ru/2.1.27/?load=package.standard&lang=ru-RU" type="text/javascript"></script>

        <script type="text/javascript">
            $(function() {
                $(".waswill").checkboxradio({
                    icon: false
                });
                $('#rating').rating({
                    fx: 'float',
                    stars: 5,
                    image: '/images/stars.png',
                    loader: '/images/ajax-loader.gif',
                    url: '/index.php?do=vote'
                });
            });
        </script>

        <script type="text/javascript" charset="utf-8">
            jQuery(document).ready(function($) {
                $("#sidebar").stick_in_parent({offset_top: 70});
                $('.bxslider').bxSlider({adaptiveHeight:true,infiniteLoop:true,pager:false,auto:true,autoStart:true});
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function() {
                $("#showsearch").click(function(){
                    $("#searchbar").fadeIn(300);
                    $(".soc").hide();
                    $( "#s" ).focus();
                });
                $('#authtooltip').tooltipster({
                    theme: 'tooltipster-light',
                    repositionOnScroll: false,
                    side: ['bottom'],
                    delay:0,
                    animationDuration:0,
                    interactive: true,
                    trigger: 'custom',
                    triggerOpen: {
                        click: true,
                        tap: true
                    },
                    triggerClose: {
                        click: true,
                        scroll: true,
                        tap: true
                    }
                });
                $('#openmap').tooltipster({
                    theme: 'tooltipster-light',
                    repositionOnScroll: false,
                    side: ['bottom'],
                    delay:0,
                    animationDuration:0,
                    interactive: true,
                    trigger: 'custom',
                    triggerClose: {
                        click: true,
                        scroll: true,
                        tap: true
                    }
                });
                $('#openmap').tooltipster('open');
            });
        </script>

        <script type="text/javascript">
            $(document).mouseup(function (e) {
                var container = $("#myTopnav");
                if (container.has(e.target).length === 0){
                    $("#searchbar").hide();
                    $(".soc").fadeIn(300);
                    var x = document.getElementById("myTopnav");
                    x.className = "topnav";
                }
            });
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
    {% endblock %}
</head>
<body style="background-color:#111;">
<div id="map" style="display:none;" class="bigmap"></div>
<div class="wrapper">
    <div class="menu">
        <div class="topnav" id="myTopnav">

            <form role="search" method="post" id="searchform" action="{{ path('search') }}">
                <div id="searchbar" style="position:absolute;display:none;width:100%;z-index:4;white-space:nowrap;"><input type="text" class="searchstr" placeholder="Введите фразу и нажмите enter" name="s" id="s"></div>
            </form>

            <a href="javascript:void(0);" style="font-size:46px;" class="icon" onclick="myFunction();">&#9776;</a>
            <a href="{{ path('index') }}" class="title">ТРУЩОБЫ</a>

            {% for category in menu.topMenu %}
                <a href="{{ path('category', { slug: category.slug }) }}" class="{% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('category', { slug: category.slug }) %}menulinks{% else %}menulink{% endif %}">{{ category.title }}</a>
            {% endfor %}


            <div class="topbtns">
                <div class="cell"><a href="https://vk.com/trushchoby" target="_blank"><img src="/images/icons/vk.png" height="27" alt="Трущобы в контакте" class="micon"></a></div>
                <div class="cell"><a href="https://twitter.com/trushchoby" target="_blank"><img src="/images/icons/twitter.png" height="27" alt="Трущобы в Twitter" class="micon"></a></div>
                <div class="cell"><a href="https://instagram.com/trushchoby" target="_blank"><img src="/images/icons/instagram.png" height="28" alt="Трущобы в Instagram" class="micon"></a></div>
                <div class="cell"><a href="https://t.me/trushchoby" target="_blank"><img src="/images/icons/telegram.png" height="28" alt="Трущобы в Telegram" class="micon"></a></div>
                <div class="cell"><a href="#" onclick="return false" class="tooltip" data-tooltip-content="#tooltip_content" id="authtooltip"><img src="/images/icons/key.png" class="micon" alt="Авторизоваться"></a>
                    <div class="tooltip_templates" style="width:250px;height:150px;"><span id="tooltip_content">$userauth</span></div>
                </div>
                <div class="cell"><a href="#" id="openmap" class="tooltip" title="$maptooltip"><img src="/images/icons/spot.png" class="micon" alt="Открыть карту"></a></div>
                <div class="cell"><a href="#search" id="showsearch"><img src="/images/icons/search.png" class="micon" alt="Поиск"></a></div>
            </div>

        </div>

    </div>


    <div class="bd">

        {% block header %}{% endblock %}

    </div>

    <div class="container">

        {% block body %}{% endblock %}

    </div>

    <div class="footer" style="width:100%;padding:0;background-image: url('/images/pattern.png');height:120px;">
        <div class="foot">
            <ul style="margin:0 auto;list-style:none;padding:10px;overflow:visible;width:100%;">
                <li style="float:left;width: calc(100% / 3 + 10px);height:80px;margin-right:20px;"><a href="/"><img src="{{ asset('images/logo.png') }}"></a></li>
                <li style="float:left;width: calc(100% / 5 - 20px);height:80px;margin-right:20px;">
                    {% for category in menu.topMenu %}
                        <a href="{{ path('category', { slug: category.slug }) }}">{{ category.title }}</a><br />
                    {% endfor %}
                </li>
                <li style="float:left;width: calc(100% / 5 - 20px);height:80px;margin-right:20px;">
                    {% for category in menu.bottomMenu %}
                        <a href="{{ path('category', { slug: category.slug }) }}">{{ category.title }}</a><br />
                    {% endfor %}
                </li>
                <li style="float:left;width: calc(100% / 5 - 20px);height:80px;margin-right:0;">
                    Социальные сети:<br /><a href="https://vk.com/trushchoby" target="_blank">Трущобы в VK</a><br />
                    <a href="https://twitter.com/trushchoby" target="_blank">Трущобы в Twitter</a><br />
                    <a href="https://t.me/trushchoby" target="_blank">Трущобы в Telegram</a><br />
                    <a href="https://instagram.com/trushchoby" target="_blank">Трущобы в Instagram</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>