<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>404 - Страница не найдена</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Refresh" content="2; URL={{ path('index') }}" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
</head>

<body style="background-color:#000;background-image: url('{{ asset('images/true.jpg') }}');background-size:cover;background-repeat: no-repeat;background-position: center center;">
    <table width="50%" border="0" cellspacing="0" cellpadding="0" align="center" style="width:640px;height:270px;position:absolute;top:50%;margin-top:-235px;left:50%;margin-left:-320px;">
        <tr>
            <td align="center">
                <br /><br /><br />
                <a href="{{ path('index') }}"><img src="{{ asset('images/logo.png') }}" /></a><br /><br /><br /><br />
                <h1 style="font-size:80px;">404</h1>
                <span  style="font-size:30px;font-family:'Akrobat Regular';">Страница не найдена</span>
            </td>
        </tr>
    </table>
</body>
</html>